<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todoアプリ</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
<main id="app">
  <div class="app-title">
    <h1>My Todo List</h1>
  </div>
  <!-- 追加機能 -->
  <div class="add-todo-form">
    <input v-model="todo.title" 
    
    placeholder="Todoを入力"/>
    <vuejs-datepicker
    class="date"
    :format="DatePickerFormat"placeholder="期日を入力"></vuejs-datepicker> 
    <button type="button" @click="addTodo">追加</button>
  </div>
    <!--リスト表示 -->
    
    <div class="wrapper">
      <div v-for="(todo,index) in todos"
           :key="todo.id"
           class="container">
           <div class="todo-id">
             ID:{{ todo.id }}
           </div>
           <div class="todo-title">
             Title: {{ todo.title }}
           </div>
           <div class="todo-date">
             Date: {{ todo.date }}
          </div>
          <button @click="deleteTodo(todo.id)" type="button">削除</button>
      </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js">
</script>
<script src="https://unpkg.com/vuejs-datepicker"></script>
<script>
  const app = new Vue ({
    el: '#app',
    data: {
      todos: [],
      todo: {
        id: 0,
        title:'',
        date:'',
      },
    },
    components: {
      'vuejs-datepicker': vuejsDatepicker,
      DatePickerFormat: 'yyyy-MM-dd'
    },
    methods: {
      addTodo(){
        this.todos.push({
          id: this.todo.id,
          title:this.todo.title,
          date:this.todo.date
        })
        this.todo.id++
       this.todo.title = ''
       this.todo.date = ''
     },
     deleteTodo(targetTodoId) {
       this.todos = this.todos.filter(todo => todo.id !== targetTodoId)
     },
  },
})
</script>
</body>
</html>